<footer class="bg-gray-800 text-white w-full mt-auto">
    <div class="container mx-auto py-8 flex flex-row items-center justify-center gap-55">
        <p class="text-sm opacity-80">&copy; 2026 FocusNotes. All rights reserved.</p>
        <p class="text-sm opacity-80">Made with ❤️ by Juan</p>

        <div class="flex gap-4 text-xs opacity-50">
            <a href="#" class="hover:underline">Privacidad</a>
            <a href="#" class="hover:underline">Términos</a>
            <a target="_blank" href="https://www.linkedin.com/in/juan-sánchez-de-corta-098309237" class="hover:underline">Contacto</a>
        </div>
    </div>
</footer>