<section class="bg-white text-gray-800 w-full h-full flex flex-col items-center justify-center p-8">
    <h1 class="text-6xl font-bold mb-4">Notas:</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam est excepturi, molestiae corrupti autem ullam quasi incidunt. Fuga, distinctio minus fugiat quam neque est eius sunt quae vitae soluta exercitationem!</p>
</section>